<div id="homepage" v-cloak>
    <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;"
         class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
        <div class="container text-center">
            <div style="width: 220px; height: 170px;" class="mx-auto position-relative">
                <img style="width: 170px; left: 25px; top: 25px;" class="position-absolute"
                     alt="The sky above the ocean" src="/images/hero-sky.png"/>
                <img style="width: 80px; top: 55px; left: -40px;" class="position-absolute" purpose="cloud-1"
                     alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
                <img style="width: 80px; top: 45px; left: -40px;" class="position-absolute" purpose="cloud-2"
                     alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
                <img style="width: 160px; bottom: 50px; left: 18px;" class="position-absolute" purpose="ship"
                     alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo"
                     src="/images/hero-ship.png"/>
                <img style="width: 170px; bottom: 40px; left: 25px;" class="position-absolute"
                     alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>
            </div>
            <h1 class="display-4 pb-5"><strong>AgrIFacil</strong></h1>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
